$logo-links: rgb(28, 35, 51);
$site-links: rgb(241, 241, 233);
$green: rgb(66, 84, 84);
$light-green:  rgba(71, 90, 84, 0.2);
$brown:  rgb(44, 34, 34);
$price-green:  rgb(17, 37, 29);
$grey: rgb(74, 77, 76);

$green-trans: rgba(66, 84, 84, 0.8);

$white: #f1f1f1;
$pink: rgb( 234,217,224);
