@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400&family=Tenor+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@import "_reset";
@import "_mixins";
@import "_variables";

// ---------------LANDING PAGE + HOME---------------------------

.APP {
  overflow: scroll;
  height: 100vh;
  background-color: $white;
}

.navbars {
  height: 8.79vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.fixed-navbar {
  position: fixed;
  width: 100%;
}

.first-navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
  width: 53%;
  height: 6vh;
  background-color: white;
  .left {
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    img {
      width: 35%;
      height: 40%;
    }
    form {
      width: 55%;
    }
  }
  .right {
    width: 30.1%;
    font-size: 0.93em;
    font-family: "Tenor Sans", sans-serif;
    align-self: center;
    .text-link {
      color: $logo-links;
      margin: 2rem;
    }
    .cart-link {
      text-decoration: none;
      list-style-type: none;
      color: $logo-links;
      .quantity-cart {
        position: relative;
        font-size: 0.8rem;
        background-color: $pink;
        border-radius: 12px;
        color: black;
        right: 0.75rem;
        bottom: 0.45rem;
        padding: 0.15rem;
        text-align: left;
      }
      img {
        width: 7.5%;
        height: 30%;
      }
    }
  }
}

.second-navbar {
  background-color: $green;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  font-family: "Tenor Sans", sans-serif;
  .text-link {
    color: $site-links;
    font-weight: 800;
  }
}

// HOME

.carousel {
  display: block;
  width: 75%;
  margin: 0 auto;
  input {
    background-color: $green-trans;
    color: $white;
    width: 11em;
    padding: 1em;
    box-shadow: none;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
    -webkit-box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
    -moz-box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.search {
  background-color: transparent;
  border: 0.5px solid $green;
  border-radius: 5px;
  padding: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 75%;
  background-color: rgba(226, 218, 204, 0.5);
  justify-content: center;
  align-items: baseline;
  font-family: "Raleway", sans-serif;
  h3 {
    color: $green;
    font-size: 1rem;
  }

  .contact-form {
    background-color: rgba(255, 192, 203, 0.336);
    border: 2px solid pink;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    h4 {
      color: $green;
      font-size: 0.9rem;
    }
    p {
      color: $green;
      font-size: 0.7rem;
    }
    .email {
      color: $green;
      font-size: 0.7rem;
      padding: 0.5rem;
      border: 0.5px solid grey;
    }
    .submit {
      border-radius: 0%;
      font-size: 0.7rem;
      padding: 0.5rem;
      font-weight: 800;
      background-color: rgb(46, 66, 66);
    }
  }
  .service {
    margin-left: 10rem;
  }
  .service,
  .about {
    padding: 1.5rem;
    width: 20%;
  }
  .text-link {
    font-family: "Tenor Sans", sans-serif;
    color: $brown;
    font-size: 0.7rem;
  }
}

//LOGIN PAGE

.orders-account,
.login {
  display: inline;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 2rem;
  h1 {
    font-weight: 300;
    padding-bottom: 1.5rem;
  }
  form {
    margin: 3rem auto;
  }
  input {
    margin: 0.5rem auto;
  }
}

.submit {
  background-color: $green;
  color: $white;
  width: 6rem;
  padding: 0.25rem;
  border-radius: 12px;
  border: none;
  box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
  -webkit-box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
  -moz-box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
  text-decoration: none;
  cursor: pointer;
}

//PRODUCT PAGE

.item-container {
  display: grid;
  margin: 2rem auto;
  width: 40.2%;
  grid-template-columns: (25rem 2rem 3rem 18rem);
  grid-auto-rows: (2rem 16rem 20rem);
  .a {
    border-bottom: 2px solid $grey;
    border-top: 2px solid $grey;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
  }
  .b {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding: 0.7em 0.5em;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    grid-column: 3 / 5;
    grid-row: 1/2;
  }
  .c {
    grid-column: 1 / 4;
    grid-row: 2/3;
    text-align: center;
    img {
      margin: 1rem auto;
      width: 15rem;
      height: 15rem;
    }
  }
  .d {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    grid-column: 4 / 5;
    grid-row: 2/3;
    font-size: 1rem;
    margin-top: 4rem;
    select {
      margin-bottom: 1rem;
      font-size: 0.7rem;
      color: $green;
      font-weight: 600;
    }
  }
  .e {
    padding-top: 2rem;
    grid-column: 1/5;
    grid-row: 3/4;
    ul {
      text-align: center;
    }
    li {
      display: inline;
      color: rgb(54, 75, 94);
    }
  }
}
.btn-description {
  width: 100%;
  border: none;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background-color: transparent;
  color: $green;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.btn-submit {
  background-color: white;
  color: $green;
  width: 10rem;
  padding: 0.55rem;
  border-radius: 12px;
  border: 1px solid $green;
  box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
  -webkit-box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
  -moz-box-shadow: 9px 9px 5px -2px rgba(197, 197, 173, 0.33);
  text-decoration: none;
  cursor: pointer;
}

.basket {
  width: 15%;
  height: 20%;
  padding: 0.2rem;
  margin-left: 0.5rem;
}

//PRODUCT LIST PAGE

.page {
  margin: 0 auto;
  text-align: center;
  color: $green;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  h1 {
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
    padding: 0.55rem;
    font-weight: 400;
  }
}

.productlist-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 2rem;
  width: 80%;
  .row-1 {
    margin: 0 auto;
    padding: 2rem;
  }
  .row-2 {
    text-decoration: none;
    color: $green;
    font-family: "Open Sans", sans-serif;
    padding: 0.5rem;
    .brand {
      font-size: 0.8rem;
      color: black;
      text-transform: uppercase;
      font-weight: 800;
      padding: 0.2rem;
    }
    .name {
      font-size: 0.7rem;
      color: $price-green;
      font-weight: 600;
    }
    .type {
      font-size: 0.6rem;
      color: $grey;
    }
    .price {
      font-size: 0.7rem;
      color: $price-green;
      font-weight: 600;
    }
  }
}

//CONTACT

.contact {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 2rem;
  input {
    margin: 0.5rem;
  }
  button {
    margin-left: 0.7rem;
  }
  .message {
    margin: 0.5rem;
    display: inline-block;
    textarea {
      border-radius: 12px;
      width: 45%;
    }
  }
  legend {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: $green;
  }
}

//CART
.cart-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 0.7rem;
  border: 2px solid grey;
  padding: 2rem;
  width: 60rem;
  margin: 0 auto;
  button {
    width: 100%;
    background-color: transparent;
    border: none;
  }
  h1 {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: $green;
    margin: 2rem auto;
  }
  .cart-item {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 2px solid red;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    border: 2px solid green;
    ul {
      display: fle;
    }
    img {
      width: 10%;
      width: 10%;
      margin: 1rem;
      p {
        width: 85%;
        font-family: "Open Sans", sans-serif;
        font-size: 0.5rem;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .cart-container-total {
    background-color: $light-green;
    display: flex;
    flex-flow: row nowrap;
   justify-content: space-between;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    h2{
      margin: 0.5rem;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
    }

  }
  .total {
    margin: 0.5rem;
    width: 20em;
    font-family: "Raleway", sans-serif;
    .bold {
      border-top: 2px solid grey;
      font-weight: 800;
    }
  }
  .total-label {
    text-align: left;
  }
  .total-number {
    text-align: right;
    position: relative;
    bottom: 1.1rem;
  }
}


//PAYPAL PAGE
.paypal {
  width: 50%;
  margin: 0 auto;
  p{
    color: white;
    font-size: 0.1rem;
  }
}